@{
    ViewBag.Title = "Welcome";
}

<div class="slider hidden-xs">
    <ul class="rslides">
        <li><img src="~/Content/Images/bakery.png" alt=""/></li>
        <li><img src="~/Content/Images/dairy.png" alt=""/></li>
        <li><img src="~/Content/Images/fruitandveg.png" alt=""/></li>
        <li><img src="~/Content/Images/meat.png" alt=""/></li>
    </ul>
</div>
<br/>

<h3 class="text-center">Click on a category below to get started</h3><br/>

<div class="row">
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/1">
                <h2>Dairy</h2>
                <img src="~/Content/Images/dairyicon.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/2">
                <h2>Meats</h2>
                <img src="~/Content/Images/meaticon.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/3">
                <h2>Bakery</h2>
                <img src="~/Content/Images/bakeryicon.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywraplast">
            <a href="~/StoreFront/Index/4">
                <h2>Fruit &amp; Veg</h2>
                <img src="~/Content/Images/fruiticon.png" alt=""/>
            </a>
        </div>
    </div>
</div>